body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a19898;
  }
  
  h1 {
    display: inline;
    font-size: 2em;
    margin-block-end: 20.67em;
    margin-inline-start: 10pc;
    margin-inline-end: 270px;
    font-weight: bold;
}
 
  form {
    margin-top: 4%;
    margin-inline-start: -40%;
    margin-inline-end: 180px;
    width: 400px;
    padding: 30px;
    background-color: #caadad;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #6e6e6e;
    border-radius: 3px;
  }
  
  input[type="date"] {
    height: 38px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  